
/* ? Custom rules */
h1{
    text-align: center;
    font-size: 3rem;
}

[class^="col"]{
    height: 100px;
    background-color: magenta;
    color: white;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-bottom-5{
    margin-bottom: 5rem;
}
